<app-tp-section title="Thèmes et Contenu">

    <p class="lead">Les contributions sollicitées dans le cadre des JDSIC s’inscrivent principalement dans les champs disciplinaires des communications sans fil, de la théorie de l’information, des applications et réseaux multimédias, des réseaux 5G et au-delà, de l’IoT, des Big Data et de l’intelligence artificielle. En tant que telles, elles pourraient prendre spécifiquement appui sur les axes ci-après :</p>

    <!--    <ul class="list-group">-->
    <!--        <li class="list-group-item">IoT à grande échelle pour des applications de stéganographie intelligente</li>-->
    <!--        <li class="list-group-item">Réseaux de neurones appliqués à la détection des objets</li>-->
    <!--        <li class="list-group-item">Technique d’apprentissage automatique pour l’authentification de documents</li>-->
    <!--        <li class="list-group-item">Techniques d’intelligence artificielle pour la détection de la race des taurins</li>-->
    <!--        <li class="list-group-item">Sécurité de l’information dissimulée</li>-->
    <!--        <li class="list-group-item">Technique de tatouage robuste d’images médicales</li>-->
    <!--        <li class="list-group-item">Technique de détection des objets discrets</li>-->
    <!--        <li class="list-group-item">Architecture Big Data sur les données climatiques</li>-->
    <!--        <li class="list-group-item">Software Defined Networking</li>-->
    <!--        <li class="list-group-item">Network Functions Virtualization</li>-->
    <!--        <li class="list-group-item">Réseaux mobiles sans fil</li>-->
    <!--        <li class="list-group-item">Intelligence artificielle et apprentissage automatique</li>-->
    <!--        <li class="list-group-item">Techniques d’apprentissage profond pour les réseaux sans fil</li>-->
    <!--        <li class="list-group-item">IA et framework Map-Reduce</li>-->
    <!--        <li class="list-group-item">Traitement des signaux pour les communications sans fil</li>-->
    <!--        <li class="list-group-item">Techniques de modulation et de codage</li>-->
    <!--        <li class="list-group-item">Bio-Informatique</li>-->
    <!--        <li class="list-group-item">Calcul distribué</li>-->
    <!--        <li class="list-group-item">Informatique mobile et les télécommunications</li>-->
    <!--        <li class="list-group-item">Conception de la couche physique</li>-->
    <!--        <li class="list-group-item">Internet des objets et applications</li>-->
    <!--        <li class="list-group-item">Apprentissage sécurisé et robuste</li>-->
    <!--        <li class="list-group-item">Soins de santé mobiles et applications médicales</li>-->
    <!--        <li class="list-group-item">Applications définies par logiciel</li>-->
    <!--        <li class="list-group-item">Applications Internet émergentes</li>-->
    <!--        <li class="list-group-item">Sécurité et cybersécurité</li>-->
    <!--        <li class="list-group-item">Réseaux optiques sans fil</li>-->
    <!--        <li class="list-group-item">Systèmes hybrides RF-Optique</li>-->
    <!--        <li class="list-group-item">Traitement d’images</li>-->
    <!--    </ul>-->

    <!-- Tabs navs -->
    <ul class="nav nav-pills mb-3" id="ex-with-icons" role="tablist">
        <li class="nav-item" role="presentation">
            <a data-mdb-pill-init class="nav-link active" id="ex-with-icons-tab-1" href="#ex-with-icons-tabs-1" role="tab"
               aria-controls="ex-with-icons-tabs-1" aria-selected="true"><i class="fas fa-network-wired fa-fw me-2"></i>IoT</a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-mdb-pill-init class="nav-link" id="ex-with-icons-tab-2" href="#ex-with-icons-tabs-2" role="tab"
               aria-controls="ex-with-icons-tabs-2" aria-selected="false"><i class="fas fa-brain fa-fw me-2"></i>Intelligence Artificielle</a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-mdb-pill-init class="nav-link" id="ex-with-icons-tab-3" href="#ex-with-icons-tabs-3" role="tab"
               aria-controls="ex-with-icons-tabs-3" aria-selected="false"><i class="fas fa-shield-alt fa-fw me-2"></i>Sécurité</a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-mdb-pill-init class="nav-link" id="ex-with-icons-tab-4" href="#ex-with-icons-tabs-4" role="tab"
               aria-controls="ex-with-icons-tabs-4" aria-selected="false"><i class="fas fa-satellite-dish fa-fw me-2"></i>Télécommunications</a>
        </li>
        <li class="nav-item" role="presentation">
            <a data-mdb-pill-init class="nav-link" id="ex-with-icons-tab-5" href="#ex-with-icons-tabs-5" role="tab"
               aria-controls="ex-with-icons-tabs-5" aria-selected="false"><i class="fas fa-ellipsis-h fa-fw me-2"></i>Autres</a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div class="tab-content" id="ex-with-icons-content">
        <div class="tab-pane fade show active" id="ex-with-icons-tabs-1" role="tabpanel" aria-labelledby="ex-with-icons-tab-1">
            <ul class="list-group list-group-light">
                <li class="list-group-item">IoT à grande échelle pour des applications de stéganographie intelligente</li>
                <li class="list-group-item">Internet des objets et applications</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="ex-with-icons-tabs-2" role="tabpanel" aria-labelledby="ex-with-icons-tab-2">
            <ul class="list-group list-group-light">
                <li class="list-group-item">Réseaux de neurones appliqués à la détection des objets</li>
                <li class="list-group-item">Technique d'apprentissage automatique pour l'authentification de documents</li>
                <li class="list-group-item">Techniques d'intelligence artificielle pour la détection de la race des taurins</li>
                <li class="list-group-item">Intelligence artificielle et apprentissage automatique</li>
                <li class="list-group-item">Techniques d'apprentissage profond pour les réseaux sans fil</li>
                <li class="list-group-item">IA et framework Map-Reduce</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="ex-with-icons-tabs-3" role="tabpanel" aria-labelledby="ex-with-icons-tab-3">
            <ul class="list-group list-group-light">
                <li class="list-group-item">Sécurité de l'information dissimulée</li>
                <li class="list-group-item">Technique de tatouage robuste d'images médicales</li>
                <li class="list-group-item">Apprentissage sécurisé et robuste</li>
                <li class="list-group-item">Sécurité et cybersécurité</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="ex-with-icons-tabs-4" role="tabpanel" aria-labelledby="ex-with-icons-tab-4">
            <ul class="list-group list-group-light">
                <li class="list-group-item">Software Defined Networking</li>
                <li class="list-group-item">Network Functions Virtualization</li>
                <li class="list-group-item">Réseaux mobiles sans fil</li>
                <li class="list-group-item">Traitement des signaux pour les communications sans fil</li>
                <li class="list-group-item">Techniques de modulation et de codage</li>
                <li class="list-group-item">Informatique mobile et les télécommunications</li>
                <li class="list-group-item">Conception de la couche physique</li>
                <li class="list-group-item">Réseaux optiques sans fil</li>
                <li class="list-group-item">Systèmes hybrides RF-Optique</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="ex-with-icons-tabs-5" role="tabpanel" aria-labelledby="ex-with-icons-tab-5">
            <ul class="list-group list-group-light">
                <li class="list-group-item">Architecture Big Data sur les données climatiques</li>
                <li class="list-group-item">Calcul distribué</li>
                <li class="list-group-item">Applications définies par logiciel</li>
                <li class="list-group-item">Applications Internet émergentes</li>
                <li class="list-group-item">Traitement d'images</li>
                <li class="list-group-item">Bio-Informatique</li>
                <li class="list-group-item">Soins de santé mobiles et applications médicales</li>
            </ul>
        </div>
    </div>
    <!-- Tabs content -->


    <!--    <p class="mt-4">Cette liste n’est pas exhaustive, et de nouvelles propositions de thèmes en lien avec des travaux de recherche de l’équipe de recherche SIC pourraient être acceptées.</p>-->

</app-tp-section>



