<app-tp-section title="INSTRUCTION AUX AUTEURS" titleColor="text-black">

        <div class="text-center align-content-center ">

            <p class="text-muted fs-5 lead">
                Les auteurs sont priés de soumettre leurs articles au plus tard le <span class="fw-bold">20 Septembre 2024</span>
            </p>
            <a class="btn text-white" style="background-color: rgba(0,0,0,0.60)" target="_blank" href="https://bit.ly/jdsic-2024"><i class="bi bi-link-45deg"></i> SOUMETTRE ICI
            </a>
        </div>

</app-tp-section>
