@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
.body {
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
}

.bg-bleu {
    background-color: rgba(0, 28, 85);
}

.subtitle {
    color: #8d97ad;
    line-height: 24px;
    font-size: 13px;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #001c55;
    border-bottom: 4px solid #001c55; /* Ajustez la couleur et l'épaisseur selon vos préférences */
}
