<nav class="navbar sticky-top navbar-expand-lg bg-light m-0 p-0">
  <div class="container">
    <a class="navbar-brand" href="#"><span class="fw-bold">JDSIC</span>'2024</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-link py-3 active" aria-current="page" href="#accueil">ACCEUIL</a>
        <a class="nav-link py-3" href="#comm">COMMUNICATEURS</a>
        <a class="nav-link py-3" href="#theme">THÈMES</a>
        <a class="nav-link py-3" href="#instruction">INSTRUCTION</a>
        <a class="nav-link py-3" href="#comites">COMITÉ</a>
        <a class="nav-link py-3" href="#prog">CHRONOGRAMME</a>
        <a class="nav-link py-3" href="#part">NOS PARTENAIRES & SPONSORS</a>

      </div>
    </div>
  </div>
</nav>
<app-home id="accueil"></app-home>

<section class="">
    <!-- Footer -->
    <footer class="text-center text-white bg-bleu" >
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
<!--            <section class="">-->
<!--                <p class="d-flex justify-content-center align-items-center">-->
<!--                    <span class="me-3">Register for free</span>-->
<!--                    <button data-mdb-ripple-init type="button" class="btn btn-outline-light btn-rounded">-->
<!--                        Sign up!-->
<!--                    </button>-->
<!--                </p>-->
<!--            </section>-->
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2024 Copyright: ER-SIC
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</section>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
