<app-tp-section title="COMMUNICATEURS" subtitle="Rencontrons nos">
    <div class="row justify-content-center">
        <!-- column  -->
        <div class="col-lg-3 mb-4 ">
            <!-- Row -->
            <app-card nom = "Ing. KAFANDO Alassane" titre="Expert senior Evolved Packet Core, IP/MPLS et Sécurité SI. Chef de service à TELECEL FASO SA" image="https://firebasestorage.googleapis.com/v0/b/jdsic-d1986.appspot.com/o/kafando.jpeg?alt=media&token=64e950ac-8dad-4b3a-bf7f-b538a0868ca8"></app-card>
            <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <app-card nom = "Dr. Denis KOALA" titre="Docteur en génie industriel, chef de projet fonctionnel chez KLS Group, France" image="https://firebasestorage.googleapis.com/v0/b/jdsic-d1986.appspot.com/o/1702132378311.jpeg?alt=media&token=a4217e5b-d4d5-4e4e-be9c-e0fb7cd28856"></app-card>
            <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <app-card nom = "MSc Lionel SOME" titre="Principal Data Scientist Chez Palo Alt Networks, USA"
                      image="https://firebasestorage.googleapis.com/v0/b/jdsic-d1986.appspot.com/o/leonel.jpg?alt=media&token=94eee534-a9bf-4ca1-81a2-911565d7082c">

            </app-card>
            <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->

    </div>
</app-tp-section>

