<app-tp-section title="COMMUNICATEURS" subtitle="Rencontrons nos">
    <div class="row justify-content-center">
        <!-- column  -->
        <div class="col-lg-3 mb-4 ">
            <!-- Row -->
            <app-card nom = "Dr Amidou DICKO" titre="Ministre délégué chargé des Resources Animales, Burkina Faso" image="https://firebasestorage.googleapis.com/v0/b/jdsic-d1986.appspot.com/o/1.jpg?alt=media&token=4ce0a758-6bd9-4612-ad96-8932b6b43fbd"></app-card>
            <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <app-card nom = "Dr. Ing. Denis KOALA" titre="Chercheur en Télécommunications à Wifist, France" image="https://firebasestorage.googleapis.com/v0/b/jdsic-d1986.appspot.com/o/1702132378311.jpeg?alt=media&token=a4217e5b-d4d5-4e4e-be9c-e0fb7cd28856"></app-card>
            <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->
        <div class="col-lg-3 mb-4">
            <!-- Row -->
            <app-card nom = "Ing. Lionel SOME" titre="Principal Data Scientist Chez Palo Alt Networks, USA"
                      image="https://firebasestorage.googleapis.com/v0/b/jdsic-d1986.appspot.com/o/leonel.jpg?alt=media&token=94eee534-a9bf-4ca1-81a2-911565d7082c">

            </app-card>
            <!-- Row -->
        </div>
        <!-- column  -->
        <!-- column  -->

    </div>
</app-tp-section>

