<app-tp-section title="Chronogramme des Activités">
    <div class="accordion accordion-flush text-center" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Jour 1 : 17 Octobre 2024
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Horaires</th>
                                <th>Nom et prénom(s) des exposant</th>
                                <th>Titre de l’exposé</th>
                                <th>Nom et prénom(s) du (des) Directeur(s) de thèse et / ou structure (chair)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-nowrap">09h00-10h00</td>
                                <td></td>
                                <td><span class="fw-semibold">Cérémonie d’ouverture</span><br>Accueil et installation des participants<br>Message d’ouverture des organisateurs<br>Message d’ouverture du parrain et du patron de la cérémonie</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">10h00-10h30</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">10h30-11h30</td>
                                <td>Dr Amadou DICKO (Ministre délégué Chargé des Ressources Animales)</td>
                                <td>Keynote 1 : « l’intelligence artificielle appliquée à la santé animale. »</td>
                                <td>Ministère de l’Agriculture et des Resources Animales (chair : Prof. Théodore Marie Yves TAPSOBA)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">11h30-12h00</td>
                                <td>BOMBIRI Ozias</td>
                                <td>Caractérisation des taurins : techniques d’intelligence artificielle pour la détection de la race pure baoulé ou croisée et des gènes associés à la résistance à la trypanosomose</td>
                                <td>Prof. Pasteur PODA (Chair : Prof. Théodore Marie Yves TAPSOBA)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">12h00-12h30</td>
                                <td>KONE Souleymane</td>
                                <td>Vers un outil d'analyse et d’estimation de de l’âge des espèces de poissons par traitement d'images.</td>
                                <td>Prof. Abdoulaye SERE (Chair : Prof. Télesphore TIENDREBEOGO & Prof. Seydou Golo BARRO)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">12h30-14h00</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">14h00-14h30</td>
                                <td>OUEDRAOGO José Arthur</td>
                                <td>Vers un modèle d'intelligence artificielle couplé au framework map-reduce pour l'analyse des données météorologiques</td>
                                <td>Prof. Abdoulaye SERE (Chair : Prof. Télesphore TIENDREBEOGO & Prof. Seydou Golo BARRO)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">14h30-15h00</td>
                                <td>SEGHDA Ghislain Wend-Puire</td>
                                <td>Vers une architecture Big Data sur les données climatiques pour le suivi des campagnes agricoles</td>
                                <td>Prof. Pasteur PODA (Chair : Prof. Abdoulaye SERE)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">15h00-16h00</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Jour 2 : 18 Octobre 2024
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="">
                            <tr>
                                <th>Horaires</th>
                                <th>Nom et prénom(s) des exposant</th>
                                <th>Titre de l’exposé</th>
                                <th>Nom et prénom(s) du (des) Directeur(s) de thèse</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-nowrap">09h00-10h00</td>
                                <td>Dr-ing. HAMIDOU DEMBELE</td>
                                <td>Keynote 2 : « Amélioration des performances de la couche physique des itérations modernes du WiFi et de la promotion de l’efficacité énergétique dans les points d’accès pour contribuer à la durabilité du carbone »</td>
                                <td>Chair : Dr Yacouba OUATTARA & Dr Abdoul-Hadi KONFÉ</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">10h00-10h30</td>
                                <td>DIARRA Aboudramane</td>
                                <td>Construction de modèles d'apprentissage automatique pour l'authentification de documents officiels.</td>
                                <td>Prof. Pasteur PODA (Chair : Dr Yacouba OUATTARA & Dr Abdoul-Hadi KONFÉ)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">10h30-11h00</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>

                            </tr>
                            <tr>
                                <td class="text-nowrap">11h00-11h30</td>
                                <td>COULIBALY Cheick Yacouba Rachid</td>
                                <td>Technique robuste d’itérations chaotiques pour la sécurité de l’information dissimulé</td>
                                <td>Prof. Telesphore TIENDREBEOGO (Chair: Dr Yacouba OUATTARA & Dr Abdoul-Hadi KONFÉ)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">11h30-12h00</td>
                                <td>KOUSSOUBE Boureima</td>
                                <td>Modèle Hyper-catadioptrique Basé sur la Géométrie Hyperbolique pour le Tatouage Robuste d’Image Médicale</td>
                                <td>Prof. Telesphore TIENDREBEOGO (Chair: Prof. Frédéric OUEDRAOGO & Dr Mamadou DIARRA)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">12h00-12h30</td>
                                <td>BAMOGO Moussa</td>
                                <td>Transformations analytiques et réseaux de neurones appliqués à la détection des objets dans un espace multi-échelle et bruité.</td>
                                <td>Prof. Abdoulaye SERE (Chair: Prof. Frédéric OUEDRAOGO & Dr Mamadou DIARRA)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">12h30-14h00</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">14h00-14h30</td>
                                <td>METOUALE SOMDA D Augustin</td>
                                <td>Vers une architecture globale de ville intelligente pour la gestion du trafic routier, la détection de panneaux de signalisation et de feux tricolores (ou feux de signalisation) : cas du boulevard de la révolution de la ville de Bobo Dioulasso.</td>
                                <td>Prof. Abdoulaye SERE (Chair : Dr Jean Serge Dimitri OUATTARA)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">14h30-15h00</td>
                                <td>OUEDRAOGO Moïse</td>
                                <td>Vers une boîte à outils pour la transformée de Hough pour la détection des objets discrets</td>
                                <td>Prof Abdoulaye SERE (Chair : Dr Jean Serge Dimitri OUATTARA)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">15h00-16h00</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Jour 3 : 19 Octobre 2024
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead class="thead-dark">
                            <tr>
                                <th>Horaires</th>
                                <th>Nom et prénom(s) des exposant</th>
                                <th>Titre de l’exposé</th>
                                <th>Nom et prénom(s) du (des) Directeur(s) de thèse</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-nowrap">09h00-10h00</td>
                                <td>Ing. LIONEL SOMÉ</td>
                                <td>Keynote 3 : « L’importance de l’interprétabilité et de l’explicabilité de l’IA : exemples pratiques en entreprise »</td>
                                <td>(Chair : Prof. Tégawende BISSYANDE)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">10h00-10h30</td>
                                <td>TRAORE Mamoutou</td>
                                <td>Conception et validation expérimentale d’une architecture IoT à grande échelle pour des applications de stéganographie intelligente</td>
                                <td>Prof. Pasteur PODA (Chair : Prof. Tégawende BISSYANDE)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">10h30-11h00</td>
                                <td>Pause-café</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">11h00-11h30</td>
                                <td>BADOLO Malicki</td>
                                <td>Mise en place d’un protocole de gestion sécurisée dans les Software Defined Networking (SDN) orientés Network Functions Virtualization (NFV)</td>
                                <td>Prof. Télesphore TIENDREBEOGO (Chair : Prof. Boris OUEDRAOGO)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">11h30-12h00</td>
                                <td>SANOU Bernard Armel</td>
                                <td>Réseaux 5G et au-delà : analyse et conception de cas d’utilisation pour relever les défis de la fracture numérique et de la transition digitale des pays en développement</td>
                                <td >Prof. Pasteur PODA (Chair : Prof. Boris OUEDRAOGO)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">12h00-12h30</td>
                                <td>BAMOGO Abdoul Fatas</td>
                                <td>Gestion de la mobilité dans les réseaux LPWAN</td>
                                <td>Prof. Pasteur PODA (Chair : Prof. Boris OUEDRAOGO)</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">13h00-14h00</td>
                                <td colspan="3" class="fw-semibold">Pause-café</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">14h00-15h30</td>
                                <td colspan="2" class="fw-semibold">Table ronde</td>

                                <td>Prof. Théodore M. Y. TAPSOBA<br>Prof. Abdoulaye SERE<br>Prof. Pasteur PODA<br>Prof. Boris OUEDRAOGO</td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">15h30-16h00</td>
                                <td colspan="2" class="fw-semibold">Cérémonie de fermeture</td>
                                <td>Prof. Théodore M. Y. TAPSOBA</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</app-tp-section>
